
.headerClass{
    background-color: rgb(247, 225, 33)
}

.angle-bullets{
    padding-left:0px;
}

.tooltip-link{
   color:blue;
   font-weight:bold
}
.heading{
    font-weight: bold;
    margin-bottom: 6px;
}

.buttonStyle {
    width: 50%;
    margin: 0 100px 0 100px;
    border-radius: 0 !important;
    margin-top:20px;
    font-weight:bold
}

.footer{
    margin : 0 !important;
    font-weight:bolder;
}

.footer1{
    margin : 0 !important;
    font-weight:bolder;
    text-align: center;
}

.symptoms-main{
display: flex;
height:100%;
width:100%;
opacity:1;
margin-bottom: -16px;
}

.left{
    float: left;
    width:40%;
    height:100%;
    margin-left:0px !important;
    margin-right:0px !important;
    text-align: left;
}

.right{
    width:60%;
    margin-left:-12px !important;
    margin-right:0px !important;
    height:100%;
    text-align: left;
    padding-left: 30px;
}
ul {
    list-style: none; 
  }

    li::before { 
    display: inline-block;
    content: '';
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid;
    color: rgb(247, 225, 33) ;
    transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  padding-left:0px
    }
    
    .tooltip-link{
        color: cornflowerblue;
        /* cursor: pointer; */
    }

    .tooltip-inner {
        max-width: 330px !important;
        text-align:left !important;
        padding: 0.25rem 0.5rem;
        text-align: center;
        background-color: white !important;
        border-radius: 0.25rem;
        color:black !important;
        border: 2px solid #00c4b3;
    } 
    
    .tooltip.show {
        opacity: 1 !important;
    }