/* .homeButton{
    margin-top:250px; 
    margin-left:300px; 
    position: absolute
} */

.headerClass{
    background-color: rgb(247, 225, 33)
}

.tooltip-link{
   color:blue;
   font-weight:bold
}
.heading{
    font-weight: bold;
}

.buttonStyle {
    width: 50%;
    margin: 0 100px 0 100px;
    border-radius: 0 !important;
    margin-top:20px;
    font-weight:bold
}

.footer{
    margin : 0 !important;
    font-weight:bolder;
    text-align: center;
}

.symptoms-main{
    color:black;
    background-color:yellow
}

.left{
    float: left;
}

.right{
    float: right;
}
ul {
    list-style: none; /* remove the default */
  }

    li::before { 
    display: inline-block;
    content: 'ᐅ';  
    color: rgb(247, 225, 33) ;
}
